.opciones-aside{
    padding-top: 10px;
}

.item-aside{
    color: black;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    padding: 0;
}

.item-aside:hover{
    text-decoration: none;
}

.item-aside p{
    margin: 0;
}